<section class="page-section about-heading">
  <div class="container">
  </br></br></br>
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">Share Your Music</span>
            </h2>
            <div class="lead">

							{{#if message}}
							<div class="error">{{ message }}</div>
							{{/if}}
							<div id="errorAdd"></div>

							<!-- This is where we do the uploading -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
