<section class="page-section about-heading">
  <div class="container">
  </br></br></br>
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              {{#if message}}
              <span class="section-heading-upper">{{ message }}</span>
              {{/if}}
              <span class="section-heading-lower">Login</span>
            </h2>
            <div class="lead">
              <form method="POST" action="login">
                <div id="errorLog"></div>
              	<div>
              		<label for="username">Username:</label>
              		<input id="logUsername" type="text" name="username" value="" required>
              	</div>
              	<div>
              		<label for="password">Password:</label>
              		<input id="logPassword" type="password" name="password" value="" required>
              	</div>
              	<div>
              		<input  id="loggin" class="btn btn-lg btn-default" type="submit" value="Login">
              	</div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
