<section class="page-section about-heading">
  <div class="container">
  </br></br></br>
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
              <span class="section-heading-lower">My Music</span>
            </h2>
            <div class="lead">

              <!-- This is where we list music and link to QR code somehow -->

              <br>
              <br>
              <a href="add" class="btn btn-lg btn-default">Upload</a>
              <br>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
